{% extends 'base.html' %}

{% block title %}
    Anasayfa - {{ block.super }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
{#        <div class="row" style="margin-bottom: 30px;">#}
{#            <div class="col-md-3 col-sm-6" style="background-color: #ff0000; height: 100px;">1. Ürün</div>#}
{#            <div class="col-md-3 col-sm-6" style="background-color: #ffca11; height: 100px;">2. Ürün</div>#}
{#            <div class="col-md-3 col-sm-6" style="background-color: #56ff25; height: 100px;">3. Ürün</div>#}
{#            <div class="col-md-3 col-sm-6" style="background-color: #244cff; height: 100px;">4. Ürün</div>#}
{#        </div>#}
{##}
{#        <div class="row" style="margin-bottom: 30px;">#}
{#            <div class="col-md-3 col-sm-6" style="background-color: #ff0000; height: 100px;">1. Ürün</div>#}
{#            <div class="col-md-3 col-sm-6" style="background-color: #ffca11; height: 100px;">2. Ürün</div>#}
{#            <div class="col-md-3 col-sm-6" style="background-color: #56ff25; height: 100px;">3. Ürün</div>#}
{#            <div class="col-md-3 col-sm-6" style="background-color: #244cff; height: 100px;">4. Ürün</div>#}
{#        </div>#}
{##}
{#        <div class="row" style="margin-bottom: 30px;">#}
{#            <div class="col-md-3 col-sm-6" style="background-color: #ff0000; height: 100px;">1. Ürün</div>#}
{#            <div class="col-md-3 col-sm-6" style="background-color: #ffca11; height: 100px;">2. Ürün</div>#}
{#            <div class="col-md-3 col-sm-6" style="background-color: #56ff25; height: 100px;">3. Ürün</div>#}
{#            <div class="col-md-3 col-sm-6" style="background-color: #244cff; height: 100px;">4. Ürün</div>#}
{#        </div>#}

{#        <div class="row">#}
{#            <div class="col-md-10" style="background-color: #ff101b; height: 100px;"></div>#}
{#            <div class="col-md-4" style="background-color: #5f5aff; height: 100px;"></div>#}
{#        </div>#}

        <div class="row">
            <div class="col-md-4" style="background-color: #ff101b; height: 100px;"></div>
            <div class="col-md-8" style="background-color: #5f5aff; height: 100px;">
                <div class="row">
                    <div class="col-md-2" style="background-color: #5cff00; height: 100px;"></div>
                    <div class="col-md-6" style="background-color: #ff00ef; height: 100px;"></div>
                    <div class="col-md-4" style="background-color: #3c2aff; height: 100px;"></div>
                </div>
            </div>
        </div>
    </div>
    Hoşgeldin, {{ request.user.username }}
{% endblock %}

