{% extends 'base.html' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="thumbnail">
                    {% if post.image %}
                        <img src="{{ post.image.url }}" class="img-responsive" >
                    {% endif %}
                    <div class="caption">
                        <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a> <small>{{ post.publishing_date }}</small></h3>
                        <p>{{ post.content|linebreaks}}</p>
                        <p>
                            <a href="{{ post.get_absolute_url }}" class="btn btn-primary" role="button">İncele</a>
                            {% if request.user.is_authenticated %}
                                <a href="{{ post.get_update_url }}" class="btn btn-default" role="button">Güncelle</a>
                                <a href="{{ post.get_delete_url }}" class="btn btn-danger" role="button">Sil</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}